^(.*/)?.*\.xcf
^(.*/)?app\.yaml
^(.*/)?app\.yml
^(.*/)?index\.yaml
^(.*/)?index\.yml
^(.*/)?#.*#
^(.*/)?.*~
^(.*/)?.*\.py[co]
^(.*/)?.*/RCS/.*
^(.*/)?\..*
^(.*/)?.*\.bak$
^(.*/)?.*/script/.*
^(.*/)?.*/gorilla/examples/.*
^(.*/)?.*_test.go
^(.*/)?.*/gorilla/lib/.*
